# MQTT
MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_USER=
MQTT_PASSWORD=

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_DB=light_manager
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Telegram
TELEGRAM_BOT_TOKEN=seu_token_aqui
TELEGRAM_ALLOWED_USER_ID=seu_id_aqui

# Cloudflare R2 Backup
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=

# Geolocalização (Para API de Aurora/Pôr do sol)
LATITUDE=-23.5505
LONGITUDE=-46.6333

# Offsets Padrão (em minutos)
# Ex: 30 ligará 30 min DEPOIS do por do sol. -30 ligará 30 min ANTES.
GLOBAL_SUNSET_OFFSET=0
GLOBAL_SUNRISE_OFFSET=0
WEMOS_IP=192.168.1.111
